.CrsCrdCont{
    height:200px;
    padding:10px;
    margin:0 0 10px 0;
    border-radius:6px;
    border:1px solid rgba(0, 0, 0, 0.100);
    justify-content:initial !important;
    align-items:start !important;
}
.imgCont{
    width:300px;
    height:100%;
}
.imgCont img{
    width:100%;
    height:100%;
    border-radius:6px;
}
.CrsCrdContent{
    /* border:1px solid black; */
    margin-top:20px;
}
.CrsCrdContent div:nth-child(1) h1{
    margin-bottom:5px;
}
.CrsCrdContent p{
    margin-bottom:5px;
}
.CrsCrdFooter{
    margin-top:20px;
    justify-content:initial !important;
}
.IcnCont{
    gap:5px;
    justify-content:initial !important;
}