.cardContainer{
    width:320px;
    height:340px;
    border-radius:6px;
    border:1px solid rgba(0, 0, 0, 0.300);
    position:relative;
}
.adCrdContainer{
    position:absolute;
    top:158px;
    left:20px;
}
.cardImg{
    width:100%;
    height:175px;
}
.cardImg img{
    width:100%;
    height:100%;
    border-radius:3px 3px 0 0;
}
.cardContent{
    width:100%;
    height:165px;
    border-radius:0 0 6px 6px;
    padding:20px;
    /* border:1px solid green; */
}
.cardSecCont{
    margin-top:30px;
    /* border:1px solid blue; */
}
.cardSectionFooter{
    margin-top:10px;
    justify-content:initial !important;
    /* border:1px solid rebeccapurple; */
}
.cardSectionFooter p{
    /* border:1px solid black; */
}