.InptCont{
    width:100%;
    height:38px;
    margin-top:5px;
    border-radius:6px;
    border:1px solid rgba(0, 0, 0, 0.300);
}
.InptCont input{
    width:100%;
    height:100%;
    border:none;
    padding:0 0 0 20px;
}