.btnCont{
    width:100%;
    height:38px;
    border-radius:6px;
    justify-content:center !important;
    background-color:rebeccapurple;
}
.btnCont button{
    border:none;
    background:none;
    font-size:16px;
    font-weight:bold;
    color:white;
}