.loginCont{
    overflow:hidden;
    /* padding:60px; */
    height:100vh;
    justify-content:initial !important;
}
.logInLeft{
    width:100%;
    height:100%;
    border:1px solid green;
}
.logInLeft img{
    width:100%;
    height:100%;
}
.logInRight{
    width:100%;
    padding:30px;
    /* border:1px solid red; */
}
.logInRight h2{
    margin-bottom:20px;
    text-align:center;
}
.logInRight p{
    text-align:end;
    margin-bottom:20px;
}
.InputCont{
    margin-bottom:20px;
}
/* .orCntnt{
    width:100%;
    border:1px solid black;
    display:inline-block;
} */