*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    
    color:rgba(0, 0, 0, 0.600);
    font-family:sans-serif;
    list-style-type:none;
    text-decoration:none;
}
.active{
    color:#825CFE;
}

/* Re-Usable classes for every component */
.Container{
    margin: 0 60px;
}
.flex{
    display:flex;
    justify-content:space-between;
    align-items:center;
    gap:20px;
}