.LiveClasses h4{
    display:inline-block;
    padding:0 0 10px 0;
}

.LiveClasses h4{
    position: relative;
}

.LiveClasses h4::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width:0;
    height: 3px;
    background-color: #825CFE;
    border-radius: 10px;
    /* transform: scaleX(0%) */
}
.LiveClasses h4:hover::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: #825CFE;
    border-radius: 10px;
    transition: 5s ease;
    /* transform: scaleX(100%) */
}